.form-group {
    margin-bottom: 20px;
  }
  
  #departmentSelect {
    height: 38px; /* Same height as the input fields */
    padding: 6px 12px; /* Consistent padding */
    font-size: 14px; /* Match input text size */
    border: 1px solid #ced4da;
    border-radius: 4px; /* Optional: match the input border radius */
    display: block;
    width: 100%;
  }
  
  .col-12.col-sm-4 {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Ensure elements in the same row align */
  }

  .eye{
    top: 50%; right: 10px; transform: translateY(-50%); cursor: pointer;
  }
  
  
.page-title-container {
  display: flex;
  align-items: center; /* Vertically centers items */
  gap: 8px; /* Adds space between the arrow and title */
}
.arrowmargin{
  margin-bottom: 25px;
}