
.dropdown-icon {
    margin-left: -110px;
    margin-top: -20px; /* Adjust the value as needed */
  }
  
  .custom-input {
    font-size: 16px; /* Optional: Adjust font size if needed */
  }
  .tm{
    margin-top: -23px;

  }

  
  