<app-page-header
  [link]="'classes'"
  [prev]="'Classes'"
  [current]="'Edit a Classes'"
></app-page-header>
<div class="row">
  <div class="col-sm-12">
    <div class="card comman-shadow">
      <div class="card-body">
        <form [formGroup]="editClassesFormGroup" (submit)="handleUpdateClasse()">
          <div class="row">
            <div class="col-12">
              <h5 class="form-title student-info">
                Information about class<span
              ><a href="javascript:;"
              ><i class="feather-more-vertical"></i></a
              ></span>
              </h5>
            </div>
            <div class="col-12 col-sm-4">
              <div class="form-group local-forms">
                <label>Label <span class="login-danger">*</span></label>
                <input
                  class="form-control"
                  type="text"
                  formControlName="label"
                />
              </div>
            </div>
            <div class="col-12 col-sm-4">
              <div class="form-group local-forms">
                <label
                >Number of Student <span class="login-danger">*</span></label
                >
                <input
                  class="form-control"
                  type="number"
                  formControlName="numberOfStudents"
                />
              </div>
            </div>
            <div class="col-12 col-sm-4">
              <div class="form-group local-forms">
                <label
                >Major<span class="login-danger">*</span></label
                >
                <input
                  class="form-control"
                  type="text"
                  formControlName="major"
                />
              </div>
            </div>
            <div
              class="col-12 d-flex align-items-center justify-content-center"
            >
              <div class="student-submit">
                <button type="submit" class="btn btn-primary">Confirm</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
