.order-list-container {
  max-width: 500px; /* Increased from 400px to 600px */
  margin: 0 auto;
  background-color: #f7fafc;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.order-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 4px;
  border-radius: 8px;
  margin-bottom: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.order-item:hover {
  background-color: #f0f4f8;
}

.order-item span {
    font-size: 16px;
    font-weight: 500;
    color: #4a5568;
    text-align: center; /* Center align the text */
    flex: 1; /* Allow the span to take up available space */
  }
  
  

.button-group {
  display: flex;
  gap: 8px;
}

.move-button {
  background-color: #4299e1;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.1s ease;
}

.move-button:disabled {
  background-color: #cbd5e0;
  cursor: not-allowed;
}

.move-button:not(:disabled):hover {
  background-color: #3182ce;
}

.move-button:not(:disabled):active {
  transform: scale(0.95);
}

.save-button {
  display: block;
  width: 100%;
  margin-top: 24px;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.1s ease;
}

.save-button:hover {
  background-color: #103dd2;
}

.save-button:active {
  transform: scale(0.95);
}


/* Base styles for move-button */
.move-button {
    background-color: #4299e1;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease;
  }
  
  /* Disable state */
  .move-button:disabled {
    background-color: #cbd5e0;
    cursor: not-allowed;
  }
  
  /* Default hover effect */
  .move-button:not(:disabled):hover {
    transform: scale(1.05);
  }
  
  /* Up button hover effect */
  .move-button:not(:disabled):hover:first-of-type {
    background-color: #48bb78; /* Green */
  }
  
  /* Down button hover effect */
  .move-button:not(:disabled):hover:last-of-type {
    background-color: #e53e3e; /* Red */
  }
  
  /* Active state for both buttons */
  .move-button:not(:disabled):active {
    transform: scale(0.95);
  }

  .school-logo {
    height: 60px; /* Adjust height as needed */
    margin-left: 10px; /* Add spacing between text and logo */
    vertical-align: middle; /* Align the logo with the text */
  }
  .backml{
    margin-left: 15px;
  }
  
  