<app-page-header
  [link]="'class'"
  [prev]="'Class'"
  [current]="class_Id ? 'Update Class' : 'Add New Class'"
></app-page-header>



<div class="row">
  <div class="col-sm-12">

    <div class="card comman-shadow">
    
      <div class="card-body">
        <form (ngSubmit)="handleAddClasses()">
          <div class="row">
            <div class="col-12">
              <div class="page-title-container">
               
                <a href="/classes" class="back-arrow">
                  <i class="fa fa-arrow-left backml"></i>
                </a>
                <h2 class="page-title">Information About Class</h2>
              </div>
              <h5 class="form-title student-info">
                <span><a href="javascript:;"><i class="feather-more-vertical"></i></a></span>
              </h5>
            </div>
            <div class="col-12 col-sm-4" style="margin-bottom: 15px;">
              <div class="form-group local-forms">
                <label>Label <span class="login-danger">*</span></label>
                <input
                  class="form-control"
                  type="text"
                  placeholder="Name"
                  [(ngModel)]="newClass.name"
                  name="name"
                  required
                />
              </div>
            </div>
          
            <div class="col-12 col-sm-4" style="margin-bottom: 15px;">
              <div class="form-group local-forms">
                <label for="departmentSelect" class="form-label">
                  Department <span class="text-danger">*</span>
                </label>
                <select
                  id="departmentSelect"
                  class="form-control"
                  [(ngModel)]="selectedDepartmentId"
                  name="department"
                >
                  <option value="" disabled selected>Choose a department</option>
                  <option *ngFor="let dep of departments" [value]="dep.id">
                    {{ dep.label }}
                  </option>
                </select>
              </div>
            </div>
           

            <div class="col-12 col-sm-4" style="margin-bottom: 15px;">
              <div class="form-group local-forms">
                <label>Grade <span class="login-danger">*</span></label>
                <select
                  class="form-control"
                  [(ngModel)]="newClass.grade"
                  name="grade"
                  required
                >
                  <option value="" disabled selected>Select a grade</option>
                  <option *ngFor="let grade of [1, 2, 3, 4, 5]" [value]="grade">{{ grade }}</option>
                </select>
              </div>
            </div>
            
            <div class="col-12 col-sm-4" style="margin-bottom: 15px;">
              <div class="form-group local-forms">
                <label>Number of Students <span class="login-danger">*</span></label>
                <input
                  class="form-control"
                  type="number"
                  placeholder="Number of Students ..."
                  [(ngModel)]="newClass.numberOfStudents"
                  name="numberOfStudents"
                  required
                />
              </div>
            </div>

            <div class="col-12 col-sm-4" style="margin-bottom: 15px;">
              <div class="form-group local-forms">
                <label>Description <span class="login-danger">*</span></label>
                <input
                  class="form-control"
                  type="text"
                  placeholder="Label"
                  [(ngModel)]="newClass.label"
                  name="name"
                  required
                />
              </div>
            </div>
            <!-- <div class="col-12 col-sm-4" style="margin-bottom: 15px;">
              <div class="form-group local-forms">
                <label>Major <span class="login-danger">*</span></label>
                <select
                  class="form-control"
                  [(ngModel)]="selected_major_id"
                  name="major"
                  required
                >
                  <option value="major" disabled>Choose a major</option>
                  <option *ngFor="let major of majors" [value]="major.id">{{ major.label}}</option>
                </select>
              </div>
            </div> -->
            <div class="col-12 d-flex align-items-center justify-content-center">
              <div class="student-submit">
                <button type="submit" class="btn btn-primary">Confirm</button>
              </div>
            </div>
          </div>
          <hr class="mt-4" />
          <div class="col-12 col-sm-12">
            <div class="form-group students-up-files">
              <label>
                You can also upload a list of classes (xlsx, csv, txt)
              </label>
              <div class="uplod">
                <label class="file-upload image-upbtn mb-0">
                  Choose a file <input type="file" />
                </label>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
