<app-page-header 
  [link]="'students'"
  [prev]="'Students'"
  [current]="'Details'"
/>

<div class="container">
    <div class="main-body">
    
      <div class="page-title-container">
        <a href="/students" class="back-arrow">
          <i class="fa fa-arrow-left backml"></i>
        </a>
        <h2 class="page-title">Student Details</h2>
      </div>
    
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img src="/assets/img/ProfilePictures/default.jpg" alt="Admin" class="rounded-circle" width="150">
                    
                    <div class="mt-3">
                      <h4>{{ newStudent?.firstName}}  {{ newStudent?.lastName}} </h4>
                      <div class="row" *ngIf="currentscheduleSlot?.subject">
                        <div class="col-sm-12">
                          <a  class="btn btn-info " target="__blank" href="/students/edit/{{student_id}}">Edit</a>
                        </div>
                      </div>
                      <!-- <button class="btn btn-primary">Follow</button>
                      <button class="btn btn-outline-primary">Message</button> -->
                    </div>
                  </div>
                </div>
              </div>
             
            </div>
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0"><i class="fa fa-id-badge" aria-hidden="true"></i> Full Name
                        

                      </h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{ newStudent?.firstName}}  {{ newStudent?.lastName}} 
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0"><i class="fa-solid fa-envelope"></i> Email</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                     {{ newStudent?.email}}
                    </div>
                  </div>
                  <hr>

                
                  

                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0"><i class="fa-solid fa-chalkboard-user"></i> Class 
                        
                      </h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{ newStudent?.classes?.name}}  ({{ newStudent?.classes?.department?.name}})
                    </div>
                  </div>

                  <hr >
                  <div class="row" *ngIf="!currentscheduleSlot?.subject">
                        <div class="col-sm-12">
                          <a  class="btn btn-info " target="__blank" href="/students/edit/{{student_id}}">Edit</a>
                        </div>
                     </div>
                  <div class="row" *ngIf="currentscheduleSlot?.subject">
                    <div class="col-sm-3">
                      <h6 class="mb-0"><i class="fas fa-calendar-alt "></i> Current Session:</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <span class="subject">
                        <i class="fa-solid fa-book-open"></i> {{ currentscheduleSlot?.subject?.name }}
                      </span>
                      <br/>
                      <span class="time">
                        <i class="fas fa-clock"></i> {{ currentscheduleSlot?.time }} - {{ currentscheduleSlot?.endTime }}
                      </span>
                      <br>
                      <span class="room">
                        <i class="fa-solid fa-location-dot"></i> {{ currentscheduleSlot?.room?.typeRoom }} - {{ currentscheduleSlot?.room?.numRoom }}
                      </span> (
                      <span class="teacher">
                        <i class="fa-solid fa-person-chalkboard"></i> {{ currentscheduleSlot?.teacher?.name }}
                      </span> )
                       
                      
                    </div>
                  </div>
                  
                </div>

              
              </div>

           




            </div>
          </div>

        </div>
    </div>

   
    
    
  

    <div>
      <div class="timetable-container my-6  margintop">
        <div *ngFor="let timetable of timetables; let i = index">
          <div class="page-title d-flex align-items-center">
           
            <h2 class="m-0">{{ timetable.classEntity.label }}</h2>
          </div>
          <div class="date-container text-center">
            <h6 class="startDate">
              <i class="fa fa-calendar" aria-hidden="true"></i>
              From {{ timetable.startDate | date: 'dd/MM/yyyy' }}
              To {{ calculateEndDate(timetable.startDate) | date: 'dd/MM/yyyy' }}
            </h6>
          </div>
    
          <table id="timetable-{{ i }}" class="">
            <thead>
              <tr class="bg-gray-200">
                <th class="px-4 py-2 border border-gray-300">Day</th>
                <th *ngFor="let timeSlot of timeSlots">
                  {{ timeSlot }}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let day of timetable.data">
                <td class="px-4 py-2 border border-gray-300">{{ day.day }}</td>
                <td
                  *ngFor="let slot of day.slots"
                  [attr.colspan]="slot.span"
                  [hidden]="slot.span === 0"
                >
                <p class="slotSubject">  {{ slot.name }} 
                  <br *ngIf="slot.room">
                <small *ngIf="slot.room" > {{ slot.room.typeRoom }}-{{ slot.room.numRoom }} </small> 
                  
                <small *ngIf="slot.teacher" class="teacher">({{ slot.teacher.name }})  </small> 
                 
                </p>
                 
                  <!-- I want to shoow teacher Name right there  -->
                   
                  
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    
      
    </div>